### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File 
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
#Total number of players
player= len(purchase_data["SN"].value_counts())
player_count=pd.DataFrame([player], columns = ["Total Players"])
player_count

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#Number of Unique Items
Unique_Items = len(purchase_data['Item Name'].value_counts())
#Average Purchase Price
Average_price = round(purchase_data['Price'].mean(),2)
#Total Number of Purchases
Total_Purchases = round(purchase_data['Price'].sum(),2)
#Total Revenue
Total_Revenue = purchase_data['Price'].sum()
#Data Frame
Purchasing_analysis = pd.DataFrame({"Number of Unique Items" : [Unique_Items], 
                                   "Average Price" : [Average_price],
                                   "Total Purchases" : [Total_Purchases],
                                   "Total Revenue": [Total_Revenue],})
Purchasing_analysis = Purchasing_analysis[["Number of Unique Items", "Average Price","Total Purchases", "Total Revenue"]]
Purchasing_analysis = Purchasing_analysis.round(2)

Purchasing_analysis.head()

   Number of Unique Items  Average Price  Total Purchases  Total Revenue
0                     179           3.05          2379.77        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
#Demographics
gender = purchase_data[["SN", "Gender"]]
gender = gender.drop_duplicates()
counts = gender["Gender"].value_counts()
total_counts = [counts[0], counts[1], counts[2]]
percents = [round((counts[0]/player)*100,2),round((counts[1]/player)*100,2),round((counts[2]/player)*100,2)]
gender_demo = pd.DataFrame({ "Percentage of Players": percents,"Total Count": total_counts
})
gender_demo.index = (["Male", "Female", "Other / Non-Disclosed"])
gender_demo

                       Percentage of Players  Total Count
Male                                   84.03          484
Female                                 14.06           81
Other / Non-Disclosed                   1.91           11


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
#Purchasing Analysis 
gender = purchase_data.groupby(["Gender"])
purchase_Count = gender["SN"].count()
purchase_Price = gender["Price"].mean()
purchase_Value = gender["Price"].sum()
duplicates = purchase_data.drop_duplicates(subset='SN', keep="first")
grouped_dup = duplicates.groupby(["Gender"])
average_purchase_total_person_gender = (gender["Price"].sum() / grouped_dup["SN"].count())
gender_analysis = pd.DataFrame({"Purchase Count": purchase_Count,
                              "Average Purchase Price": purchase_Price,
                              "Total Purchase Value": purchase_Value,
                              "Average Purchase Total": average_purchase_total_person_gender})
gender_analysis["Average Purchase Price"] = gender_analysis["Average Purchase Price"].map("${:.2f}".format)
gender_analysis["Total Purchase Value"] = gender_analysis["Total Purchase Value"].map("${:.2f}".format)
gender_analysis["Average Purchase Total"] = gender_analysis["Average Purchase Total"].map("${:.2f}".format)
gender_analysis = gender_analysis[["Purchase Count", "Average Purchase Price", "Total Purchase Value", "Average Purchase Total"]]
gender_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
#Age Demographics
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
#Age Demographics Data
purchase_data["Age Demographics"]= pd.cut(purchase_data["Age"], age_bins, labels=group_names)
demographic_group =purchase_data.groupby("Age Demographics")
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Demographics
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame